/ BEGIN _form.html.haml

= form_for @post do |f|
	.row
		.three.columns
			/nothing here for now
		.six.columns
			#split
				.split-section#post-editor
					- if @post.errors.any?
						.notice
							- @post.errors.full_messages.each do |msg|
								= msg
					-if @post.slug
						= link_to '⚓', @post, :class => 'permalink', :target => '_blank'
					.expandingArea#text-title
						%pre
							%span
							%br
						= f.text_area :title, :rows => 1, :placeholder => 'Title here'
					%fieldset.markdown
						.expandingArea#text-content
							%pre
								%span
								%br
							= f.text_area :content, :placeholder => 'Write post here'
				.split-section#post-preview
		.three.columns
			#tag_container
				Tags:
				%fieldset.tags
					.expandingArea#tags
						%pre
							%span
							%br
						= f.text_area :tags, :placeholder => 'Add comma separated tags here'
	.row
		.twelve_columns
			#publish-bar-hover
				#publish-bar
					.contain
						.left
							=link_to('Admin', '/admin')
							= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete, :class => 'delete-bar'
							= link_to 'Options', '#options', :class => 'menu'
							%ul.sub-menu#options
								%li
									= f.label :url, 'Slug'
									= f.text_field :slug, :placeholder => 'Leave blank to automatically generate' 
								%li
									= f.label :url, 'URL'
									= f.text_field :url, :placeholder => 'Optional external link'
						.right.nobr
							= f.label :draft
							= f.check_box :draft
							= f.submit 'Preview', :id => 'preview-button', :preview => true, :target => "_blank"
							= f.submit 'Save', :id => 'save-button'
/ END _form.html.haml
