/ BEGIN _li.html.erb
%li{:id=>"post-#{li.id}"}
	%h3
		-#= link_to li.title, '/edit/' + li.id.to_s , :controller=>:posts, :action=>:edit, :id=>li.id 
		- if CONFIG['use_kudos'] and (not li.draft or li.kudos > 0)
			-# someone could have created a post, gotten kudos, then made it a draft again
			-if li.kudos < 100
				%span.mini_kudo.mini_kudos_few{:title=>'kudos received'}
					=li.kudos
			-else
				%span.mini_kudo.mini_kudos_many{:title=>'kudos received'}
					=li.kudos
		%span.links
			- if li.external?
				-if li.future?
					%span.entypo.admin-view{:title=>"This post is scheduled for the future"} N
				= link_to 'i', permalink_path_for(li, false), {:class => 'entypo admin-view', :title=>"view this post"}
			= link_to "X", "/posts/#{li.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'entypo admin-delete', :title=>'delete this post'
			-# alternately= button_to "X", li, :method=>:delete, :class=>'entypo admin-delete'
		= link_to li.title, edit_post_path(li.id)
/ END _li.html.erb 
