/ BEGIN _post.html.haml
%div
	%article.hentry{:id=>"post-#{post.id}", :role=>"article"}
		.post_heading
			-if post.external?
				%h1
					= link_to post.title, permalink_path_for(post, true)
					.right
						/= link_to '', '#', {:class=>'icon-caret-down details_toggler', :id=>"details_toggle_#{post.id}", :onclick=>"javascript:toggleDetails('#{post.id}');return false;"}
						- if CONFIG['use_kudos'] and not post.page
							%span.kudo_count{:id=>"kudo-#{post.id}-count"}
								Kudos
							= link_to '', '#', {:title=>"Like it? Give it a Kudo.", :alt=>"Give it a kudo", :class=>"icon-heart-empty  kudo_heart kudos kudoable tooltipped", :id=>"kudo-#{post.id}", :onclick=>"javascript:sendKudo('kudo-#{post.id}');return false;"}
			-else
				%h1
					= link_to post.title, permalink_path_for(post, false)
					.right
						= link_to '', '#', {:class=>'icon-caret-down details_toggler', :id=>"details_toggle_#{post.id}", :onclick=>"javascript:toggleDetails('#{post.id}');return false;"}
						- if CONFIG['use_kudos'] and not post.page
							%span.kudo_count{:id=>"kudo-#{post.id}-count"}
								Kudos
							= link_to '', '#', {:title=>"Give it a Kudo", :alt=>"Give it a kudo", :class=>"icon-heart-empty  kudo_heart kudos kudoable", :id=>"kudo-#{post.id}", :onclick=>"javascript:sendKudo('kudo-#{post.id}');return false;"}
		/.post_details{:id=>"post_details_#{post.id}", :style=>"display:none;"}
		.post_details{:id=>"post_details_#{post.id}"}
			-if post and post.word_count > 0
				%i.icon-time
				.reading_time
					=reading_time(post.word_count)
			-if post and post.posted_at
				\-
				= post.posted_at.to_formatted_s(:day_month_year)
			- if post.tags_array.size > 0
				.tags_list
					%span.icon-tags
					%ul.tags_list
						-post.tags_array.each do |t|
							%li=link_to t, {:controller=>:posts, :action=>:tag, :id=>t.sub(' ', '%20')}
			-if is_admin? and @single_post and not @preview
				.right
					.admin_action.sans_serif
						- if post.external?
							= link_to 'Tweet it', "http://twitter.com/home?status=New%20blog%20post:%20#{permalink_path_for(post, true)}", {:class => 'icon-twitter', :alt=>"tweet a link to this post", :title=>"tweet a link to this post", :target=>'twitter'}
						= link_to 'Edit', '/edit/' + post.id.to_s
		.entry-content
			- if post.content
				= markdown(post.content).to_html.html_safe
				
			- if comments_viewable?(@single_post, post)
				.comments_section
					%h1
						Comments
					#disqus_thread{'aria-live'=>"polite"}
						%noscript
							Please enable JavaScript to view the 
							%a{:href=>"http://disqus.com/?ref_noscript"}comments powered by Disqus.
			%hr.style-two
/ END _post.html.haml
