/ BEGIN admin.html.haml
.content
	.row.admin_content
		.onecol
			// just a gutter
		.fivecol
			#drafts
				%h1.admin_title
					Drafts 
					/= link_to 'New Draft', '/new', :class => 'button'
				= form_for @placeholder_post do |f| 
					= f.text_field :title, :placeholder => 'Start typing your title here...' 
				%ul
					= render :partial => 'li', :collection => @drafts
				%h1.admin_title
					Live Static Pages
				%ul
					= render :partial => 'li', :collection => @pages
				-# = paginate @drafts, :param_name => "draft_page" 
		.fivecol
			#published
				%h1.admin_title
					Published 
				%div
					Show 
					=link_to('', '/admin/?by_kudos=true', {:title=>'The Loved', :alt=>'The Loved', :class=>'icon-heart admin_toggle' + (params[:by_kudos] ? ' admin_toggle_highlighted' :  '')})
					or 
					=link_to('', '/admin/', {:title=>'Admin', :alt=>'Admin', :class=>'icon-list admin_toggle' + (params[:by_kudos] ? '' : ' admin_toggle_highlighted')})
				- if ! params[:by_kudos]
					.tags_list
						-if @tags.size > 0
							%ul.tags_list
								-unless params[:tag]
									%li.current_tag=link_to('All Tags', {:controller=>:posts, :action=>:admin})
								-else
									%li=link_to('All Tags', {:controller=>:posts, :action=>:admin})
								-@tags.each do |t|
									-if params[:tag] == t
										%li.current_tag=link_to t, {:controller=>:posts, :action=>:admin, :tag=>t.sub(' ', '%20')}
									-else
										%li=link_to t, {:controller=>:posts, :action=>:admin, :tag=>t}
				- elsif @published.size() > 3
					=graph_kudos(@published)
				- if @published.size() > 0
					%ul
						= render :partial => 'li', :collection => @published
					= paginate @published , :param_name => "post_page"
				- else
					- if ! params[:by_kudos]
						%p
							Create a draft, set it to "Published", and save.
					- else
						%p
							None of your posts have received any kudos
							%i
								yet.
		.onecol.last
			// gutter
/ END admin.html.haml
