/ BEGIN admin.html.haml
.content
	.row.admin_content
		.onecol
			// just a gutter
		.fivecol
			#drafts
				%h1 
					Drafts 
					= link_to 'New Draft', '/new', :class => 'button'
				= form_for @placeholder_post do |f| 
					= f.text_field :title, :placeholder => 'Start typing your title here...' 
				%ul
					= render :partial => 'li', :collection => @drafts
				%h1
					Live Static Pages
				%ul
					= render :partial => 'li', :collection => @pages
				-# = paginate @drafts, :param_name => "draft_page" 
		.fivecol
			#published
				%h1
					Published 
				%div
					Show 
					=link_to("the loved", '/admin/?by_kudos=true')
					\/
					=link_to("all", '/admin/')
				- if ! params[:by_kudos]
					.tags_list
						-if @tags.size > 0
							%ul.tags_list
								-unless params[:tag]
									%li.current_tag=link_to('All Tags', {:controller=>:posts, :action=>:admin})
								-else
									%li=link_to('All Tags', {:controller=>:posts, :action=>:admin})
								-@tags.each do |t|
									-if params[:tag] == t
										%li.current_tag=link_to t, {:controller=>:posts, :action=>:admin, :tag=>t.sub(' ', '%20')}
									-else
										%li=link_to t, {:controller=>:posts, :action=>:admin, :tag=>t}
				- else
					=graph_kudos(@published)
				%ul
					= render :partial => 'li', :collection => @published
				= paginate @published , :param_name => "post_page"
		.onecol.last
			// gutter
/ END admin.html.haml
