/ BEGIN images/_month.haml
- files = month.files
- if files.size > 0
	.month
		%span.month_name
			%a{:name=>"#{month.start.year}_#{month.start.month}"}
			=month.start.strftime("%B %Y")
		%ul.images_in_month
			-if files.size > 0
				-files.each do |file|
					%li
						= link_to "X", "/images/destroy/#{file.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'entypo delete_icon', :title=>'delete this image'
						- if file.instance_of? Image
							= "![#{file.title.nil? ? file.filename : file.title}](#{(link_to file.url, file.url, {:class=>'file_link'} ).html_safe})".html_safe
						- else
							= "[#{file.title.nil? ? file.filename : file.title}](#{(link_to file.url, file.url, {:class=>'file_link'} ).html_safe})".html_safe
			-else
				%li.imageless_month
					No posts this month
/ END images/_month.haml
