<!doctype html>
/ BEGIN application.html.haml
%html{ :lang=>"en-US"}
	%head
		%title= html_title yield(:title)
		= csrf_meta_tag
		-# = stylesheet_link_tag 'application'
		=stylesheet_link_tag 'foundation'
		=stylesheet_link_tag 'main'
		=stylesheet_link_tag 'websymbols'
		=stylesheet_link_tag 'screen'
		-if @meta_description || CONFIG['meta_description']
			%meta{:name=>'description', :content=>"#{@meta_description || CONFIG['meta_description']}"}
		%meta{ :name=>"author", :content=>"#{CONFIG['name'] }"}
		%meta{ :name=>"HandheldFriendly", :content=>"True"}
		%meta{ :name=>'mobileOptimized', :content=>"320"}
		-if CONFIG['canonical_url']
			- if ! @single_post
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}"}
			- else
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}#{permalink_path_for(@post)}" }
		%link{:rel=>"shortcut icon",:href=>"/favicon.ico"}
		-if CONFIG['me_link']
			%link{:rel=>"me",:href=>"#{CONFIG['meta_description']}"}
		
		%link{ :href=>"/posts.rss", :rel=>"alternate", :title=>"RSS", :type=>"application/rss+xml" }
		-if CONFIG['disqus_developer']
			:javascript
				var disqus_developer = 1;
		=stylesheet_link_tag('foundation')
		- if CONFIG['disqus_enabled'] and @single_post and @post.comments_enabled?
			= render :partial => "posts/disqus"

	%body{:class=>"#{controller_name} #{action_name }"}
		.container
			/ BEGIN heading row
			.row
				.twelve.columns
					%h1#heading
						= link_to CONFIG['title'], root_url
						-# if CONFIG['tagline']
							%h3=CONFIG['tagline']
					%hr#header_bottom_line
			/ END heading row
			/ BEGIN navigation
			.row
				.twelve.columns
					%ul.main-navigation
						%li= link_to 'Home', root_url
						/%li= link_to 'Archives', root_url + '/blog/archives'
						%li
							#main_nav_right
								- if CONFIG['twitter']
									=link_to 't', 'http://twitter.com/#!/' + CONFIG['twitter'], {:title=>"Twitter", :alt=>"Twitter", :class=>"websymbol twitter"}
								=link_to 'B', '/posts.rss', {:class=>"websymbol rss_link", :alt=>"Subscribe via RSS", :title=>"Subscribe via RSS"}
			/ END navigation
			/ BEGIN main content block
			.row
				.nine.columns
					#main
						-#
							-unless @no_header
								/ TODO move this into _post.html.haml
								%time
									- if @post && @post.created_at
										Posted 
										= @post.created_at.to_formatted_s(:day_month_year)
									- else 
										= Time.now.to_formatted_s(:day_month_year)
						#content
							- if notice
								%span.notice= notice
							= yield
				.three.columns
					.sidebar
						%section
							.emphasized
								Who?
								-if CONFIG['about_url']
									=link_to CONFIG['name'], CONFIG['about_url']
								-else
									=CONFIG['name']
							#contact
								Contact me via
								.nobr
									-if CONFIG['twitter']
										=link_to 't', 'http://twitter.com/#!/' + CONFIG['twitter'], {:title=>"Twitter", :alt=>"Twitter", :class=>"websymbol twitter"}
									-if CONFIG['twitter'] and CONFIG['email']
										&nbsp;or&nbsp;
									-if CONFIG['email']
										%a.websymbol.email_link{:title=>'email',:alt=>'email',:href=>"mailto:#{CONFIG['email']}"}@

		.row
			.twelve.columns
				%footer{:role=>'contentinfo'}
					#powered-by
						Powered by 
						%a{:href=>"http://github.com/masukomi/mobtvse.git"}
							MObtvse
						-if is_admin? 
							&nbsp;&middot;&nbsp; 
							%a{:href=>"/admin"}
								Admin

		= javascript_include_tag 'application'

		- if CONFIG['google_analytics_id']
			/ Google Analytics
			:javascript
				var _gaq=[['_setAccount','#{ CONFIG['google_analytics_id'] }'],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
/ END application.html.haml
