<!doctype html>
/ BEGIN application.html.haml
%html{ :lang=>"en-US"}
	%head
		%title= html_title yield(:title)
		=javascript_include_tag 'css3-mediaqueries'
		= csrf_meta_tag
		=stylesheet_link_tag '1140'
		=stylesheet_link_tag 'ie'
		=stylesheet_link_tag 'main'
		=stylesheet_link_tag 'socialicons'
		=stylesheet_link_tag 'screen'
		=stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cagliostro|Muli:400,400italic'
		-if @meta_description || CONFIG['meta_description']
			%meta{:name=>'description', :content=>"#{@meta_description || CONFIG['meta_description']}"}
		%meta{ :name=>"author", :content=>"#{CONFIG['name'] }"}
		%meta{ :name=>"HandheldFriendly", :content=>"True"}
		%meta{ :name=>'mobileOptimized', :content=>"320"}
		-if CONFIG['canonical_url']
			- if ! @single_post
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}"}
			- else
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}#{permalink_path_for(@post)}" }
		%link{:rel=>"shortcut icon",:href=>"/favicon.ico"}
		-if CONFIG['me_link']
			%link{:rel=>"me",:href=>"#{CONFIG['meta_description']}"}
		
		%link{ :href=>"/posts.rss", :rel=>"alternate", :title=>"RSS", :type=>"application/rss+xml" }
		-if CONFIG['disqus_developer']
			:javascript
				var disqus_developer = 1;
		- if CONFIG['disqus_enabled'] and @single_post and @post.comments_enabled?
			= render :partial => "posts/disqus"

	%body{:class=>"#{controller_name} #{action_name }"}
		.container.header
			/ BEGIN heading row
			.row
				.eightcol
					%h1#heading
						= link_to CONFIG['title'], root_url
						- if CONFIG['tagline']
							%h3.tagline=CONFIG['tagline']
				/ END heading row
				/ BEGIN navigation
				.fourcol.last
					%ul.main-navigation
						%li
							#main_nav_right.nobr
								%span.emphasized
									-if CONFIG['about_url']
										=link_to CONFIG['name'], CONFIG['about_url']
									-else
										=CONFIG['name']
								- if CONFIG['twitter']
									=link_to '&#76;'.html_safe, 'http://twitter.com/#!/' + CONFIG['twitter'], {:title=>"Twitter", :alt=>"Twitter", :class=>"socialicon twitter_link"}
								- if CONFIG['facebook_id']
									=link_to '&#70;'.html_safe, "http://www.facebook.com/profile.php?id=#{CONFIG['facebook_id']}", {:title=>"Twitter", :alt=>"Facebook", :class=>"socialicon facebook_link"}
								=link_to '&#82;'.html_safe, '/posts.rss', {:class=>"socialicon rss_link", :alt=>"Subscribe via RSS", :title=>"Subscribe via RSS"}
			/ END navigation
			/ BEGIN main content block
		.container
			.row
				.onecol
					/ left gutter
				.tencol
					#main
						-#
							-unless @no_header
								/ TODO move this into _post.html.haml
								%time
									- if @post && @post.created_at
										Posted 
										= @post.created_at.to_formatted_s(:day_month_year)
									- else 
										= Time.now.to_formatted_s(:day_month_year)
						#content
							- if notice
								%span.notice= notice
							= yield
				.onecol.last
					.sidebar
						/TODO swap to 2 columns and dynamically load a sidebar here
		.row
			.twelvecol.last
				%footer{:role=>'contentinfo'}
					#powered-by.sans_serif.emphasized
						Powered by 
						%a{:href=>"http://github.com/masukomi/mobtvse.git"}
							MObtvse
						-if is_admin? 
							&nbsp;&middot;&nbsp; 
							%a{:href=>"/admin"}
								Admin
						/
							%br
							#mobtvse_icon

		= javascript_include_tag 'application'

		- if CONFIG['google_analytics_id']
			/ Google Analytics
			:javascript
				var _gaq=[['_setAccount','#{ CONFIG['google_analytics_id'] }'],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
/ END application.html.haml
