<!doctype html>
/ BEGIN application.html.haml
%html{ :lang=>"en-US"}
	%head
		%title= html_title yield(:title)
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
		= csrf_meta_tag
		=javascript_include_tag "application"
		=stylesheet_link_tag "application"
		= stylesheet_link_tag "#{controller.controller_name}/#{params[:action]}" if Obtvse::Application.assets.find_asset("#{controller.controller_name}/#{params[:action]}.css")
		= javascript_include_tag "#{controller.controller_name}/#{params[:action]}" if Obtvse::Application.assets.find_asset("#{controller.controller_name}/#{params[:action]}.js")
		-if @meta_description || CONFIG['meta_description']
			%meta{:name=>'description', :content=>"#{@meta_description || CONFIG['meta_description']}"}
		%meta{ :name=>"author", :content=>"#{CONFIG['name'] }"}
		%meta{ :name=>"HandheldFriendly", :content=>"True"}
		%meta{ :name=>'mobileOptimized', :content=>"320"}
		%meta{ :name=>'generator', :content=>'MObtvse 0.5' }
		-if @single_post and @post.draft?
			%meta{'http-equiv'=>"Cache-control", :content=>"no-cache"}
			%meta{'http-equiv'=>"Cache-control", :content=>"no-store"}
		-if CONFIG['canonical_url']
			- if ! @single_post
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}"}
			- else
				%meta{:name=>'canonical', :content=>"#{CONFIG['canonical_url']}#{permalink_path_for(@post)}" }
		%link{:rel=>"shortcut icon",:href=>"/favicon.ico"}
		-if CONFIG['me_link']
			%link{:rel=>"me",:href=>"#{CONFIG['meta_description']}"}
		
		%link{ :href=>"/atom.xml", :rel=>"alternate", :title=>"RSS", :type=>"application/rss+xml" }
		-if CONFIG['disqus_developer']
			:javascript
				var disqus_developer = 1;
		- if comments_viewable?(@single_post, @post)
			= render :partial => "posts/disqus"

	%body{:class=>"#{controller_name} #{action_name }"}
		.container.header
			/ BEGIN heading row
			.row
				.eightcol
					%h1#heading
						= link_to CONFIG['title'], root_url
						- if CONFIG['tagline']
							%h3.tagline=CONFIG['tagline']
				/ END heading row
				/ BEGIN navigation
				.fourcol.last.last_main_nav_column
					%ul.main-navigation
						%li
							#main_nav_right.nobr
								- if @pages and @pages.size() > 0
									-@pages.each do |p|
										=link_to p.title, permalink_path_for(p)
								%span.emphasized
								=link_to '', '/archive', {:title=>'Archive', :alt=>'Archive', :class=>'icon-calendar icon-large'}
								/=link_to 'Archive', '/archive'
								- if CONFIG['twitter']
									=link_to '', 'http://twitter.com/#!/' + CONFIG['twitter'], {:title=>"Twitter", :alt=>"Twitter", :class=>"icon-twitter icon-large"}
								- if CONFIG['facebook_id']
									=link_to '', "http://www.facebook.com/profile.php?id=#{CONFIG['facebook_id']}", {:title=>"Facebook", :alt=>"Facebook", :class=>"icon-facebook icon-large"}
								=link_to '', "#{localhost? ? '' : CONFIG['canonical_url']}/atom.xml", {:class=>"icon-rss icon-large", :alt=>"Subscribe via RSS", :title=>"Subscribe via RSS"}
								-if is_admin?
									=link_to '', '/admin', {:title=>"Admin", :class=>'icon-wrench icon-large'}
			/ END navigation
			/ BEGIN main content block
		.container
			.row
				.twocol
					-# it's onecol instead of two becaues 1140 has a brain tumor. 
					/ left gutter
				.eightcol
					#main
						#content
							- if notice
								%span.notice= notice
							= yield
				.twocol.last
					-# it's onecol instead of two becaues 1140 has a brain tumor. 
					.sidebar
						/TODO swap to 2 columns and dynamically load a sidebar here
		.row
			.twelvecol.last
				%footer{:role=>'contentinfo'}
					#powered-by.sans_serif.emphasized
						Powered by 
						%a{:href=>"http://github.com/masukomi/mobtvse.git"}
							MObtvse
						-if is_admin? 
							&nbsp;&middot;&nbsp; 
							%a{:href=>"/admin"}
								Admin
						/
							%br
							#mobtvse_icon

		:javascript
			$("a.tooltipped[title]").tooltips();
		- if CONFIG['google_analytics_id'] and not localhost?
			/ Google Analytics
			:javascript
				var _gaq=[['_setAccount','#{ CONFIG['google_analytics_id'] }'],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
/ END application.html.haml
